body {
  font-family: "Roboto", sans-serif;
}

.fa-golf-ball-tee {
  font-size: 40px;
  border-radius: 50%;
  padding: 15px 20px;
  margin-left: 1rem;
  margin-right: 0.75rem;
  color: #ffb86f;
  border-color: #ffb86f !important;
}

.fa-bars {
  font-size: 20px;
}

#header-container {
  background-color: #335145;
}

#score-input-card {
  background-color: #335145;
}

.btn {
  background-color: #ffb86f;
  color: #1e352f;
}

#lets-golf {
  padding: 0 12px 5px 12px;
  border-bottom: #ffb86f 2px solid;
}
